.NavBox{
    margin-bottom: 50px;
}

.Search{
    width: 99%;
    display: flex;
   margin-left: 80px;

  
   
    
}
.Search input {
    width: 70%;
    padding: 2px 2px;
    border: 1px solid black;
    border-radius: 8px;
  
}
.Search button{
    margin-left: 10px;
    width: 100px;
    height:39px;
    background-color:rgb(13, 116, 26);
    color: white;
    font-weight: bold;
    margin-bottom: 50px;


}
.tasks{
    width: 90%;
    padding:2px;
   height: auto;
   overflow: auto;

   
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;



    

  
}



.tasks .postBody {
    width: 90%;
    height: 10%;
    margin-bottom: 10px;
    background-color: rgb(8, 129, 138);
    box-sizing: border-box;
    padding: 10px;

}




.tasks  h3{
    margin-left: 10px;
   

}
.tasks  P{
    font-weight: bolder;
    margin-left: 10px;
}

